<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish">
    <md-card >
        <md-card-header>
          <md-card-title>
            <h3>{{ dish.name | uppercase}}</h3>
          </md-card-title>   
        </md-card-header>
        <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <md-card-content>
          <p>{{dish.description}}</p>
        </md-card-content>
        <md-card-actions>      
            <button md-button [routerLink]="['/dishdetail', prev]">
              <span class="fa fa-chevron-left fa-lg"> Prev</span></button><br>      
                <button md-button (click)="goBack()"> <span class="fa fa-chevron-left fa-md"></span>  BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button><br>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"> Next</span></button>
      </md-card-actions>
    </md-card>
</div>

<div fxFlex="40" *ngIf="dish">
      <md-list fxFlex >
          <h3>Comments</h3>
        <md-list-item *ngFor="let comment of dish.comments">
          <h4 md-line>{{comment.comment}}</h4>
          <p md-line>{{comment.rating}} Star</p>
          <p md-line> -- 
              <span>{{comment.author}}  {{comment.date | date}}</span>
          </p>
          
        </md-list-item>
      <md-list-item *ngIf="!(formErrors.author && formErrors.comment )">
     
        <br>
        <p md-line *ngIf="!(formErrors.author)">
          {{listFilter}}
        </p>
        <p md-line *ngIf="!(formErrors.comment)">
          {{rating}}
        </p>
        <p md-line *ngIf="!(formErrors.comment)">
          {{listFilter1}}
        </p>
        
      </md-list-item>
      </md-list>
   
</div>

<div [hidden]="dish || errMess">
    <md-spinner></md-spinner><h3>Loading ..... Please Wait</h3>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>

</div>

<br>
<div  *ngIf="dish" class="form-size style ">
  <h3>Your Comment</h3>
 
  <p>{{feedbackForm.author }}</p>
  <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" >
     <p>
       <md-input-container class="half-width" 
          dividerColor="{{formErrors.author ? 'warn' : 'primary'}}">         

            <input mdInput [(ngModel)]='listFilter' formControlName="author"  required placeholder=" Name" type="text">
            <md-hint color="warn">
              <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
            </md-hint>
           </md-input-container>
           <br>
           <span>
            {{label}}
           </span>
           
           <md-slider min="1" max="5" ng-model="rating" formControlName="rating" thumbLabel="rating" tickInterval="1" step="1" value="5"></md-slider>
           
           
           <br>
     
       <md-input-container class="full-width commentstyle"
            dividerColor="{{formErrors.comment ? 'warn' : 'primary'}}">
         <textarea mdInput [(ngModel)]='listFilter1' required formControlName="comment"  placeholder="Your Comment" rows=12>
         </textarea>
         <md-hint color="warn">
          <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
        </md-hint>
       </md-input-container>
     </p>

     <button type="submit" md-button class="background-primary tect-floral-white"
     [disabled]="feedbackForm.invalid">Sumit</button>

  </form>
</div>