.full-width{
    width:80%
}
.half-width{
    width: 70%
}
.form-size{
    width: 70%
}
.style{
    margin:5px;
    padding: 10px;
    margin-left: 80px;
    border: 2px solid black;
}
.commentstyle{
    border: 1px solid black;
}